// Place all the styles related to the viz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.tooltip {
  position: absolute;
  text-align: center;
  width: 75px;
  height: 12px;
  padding: 8px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}

div.explanation_tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 175px;
  font: 15px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}

#reload {
  color: red;
}

.ui-slider-range {
  background: linear-gradient(left, rgb(235,132,132) 22%, rgb(179,179,179) 50%, rgb(20,158,69) 100%);
  background: -o-linear-gradient(left, rgb(235,132,132) 22%, rgb(179,179,179) 50%, rgb(20,158,69) 100%);
  background: -moz-linear-gradient(left, rgb(235,132,132) 22%, rgb(179,179,179) 50%, rgb(20,158,69) 100%);
  background: -webkit-linear-gradient(left, rgb(235,132,132) 22%, rgb(179,179,179) 50%, rgb(20,158,69) 100%);
  background: -ms-linear-gradient(left, rgb(235,132,132) 22%, rgb(179,179,179) 50%, rgb(20,158,69) 100%);
  background-image: -webkit-gradient(
    linear,
    bottom left,
    top left,
    color-stop(0.22, rgb(235,132,132)),
    color-stop(0.5, rgb(179,179,179)),
    color-stop(1, rgb(20,158,69))
  );
}

.first_words {
  font-size: 20px;
}

#map_controls {
  height: 50px;
}

button {
  font-size: 17px;
  font-family: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

text {
  font-family: sans-serif;
}

div.val_chooser {
  height: 75px;
  float: left;
  // border: 1px solid gray;
  // padding-left: 10px;
  // padding-right: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  width: 184px;
}

body {
  font-family: sans-serif;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.bar_label {
  font-size: 25px;
}

text#close {
  fill: black;
  font-size: 25px;
}

text#controls {
  fill: black;
  font-size: 30px;
}

#year_span {
  width: 800px;
  text-align: center;
}

.stream_y_label {
  font-size: 16px;
}

#top_stuff {
  stroke: black;
  stroke-width: 1px;
}